<p>
Monetary Policy is the term for policy that governments use to regulate the
amount of money in circulation within the active domain of that currency.  This
policy is used, in a large part, to help prevent large depressions and
recessions from causing shocks to the market, and long-term dips of GDP.
Specifically, the Federal Reserve (the "Fed") may conduct policy such as Federal
Deposit insurance to increase trust in banks, in order to increase the amount of
money freed up for investments.  Most commonly, the Fed executes open market
operations.  It uses purchases and sales of government bonds to influence
interest rates and protect the GDP against shocks [1, p. 348].
</p>
<p>
In these open market operations, the Federal Reserve may purchase bonds,
increasing the prices of the bonds, decreasing the interest rate of the economy
in general, which induces people to borrow more, increasing money in supply and
therefore investment, increasing GDP.  This is known as "expansionary" policy
[1, p. 355].  The inverse is also true, allowing the Fed to decrease the GDP
(to, for example, adjust for an inflationary gap).  This is "contractionary"
monetary policy.
</p>
<p>
As becomes clear, this allows the fed to influence prices of bonds, interest
rate, money in supply, rate of investment, and GDP in unison, but does not give
the Fed freedom to influence all in arbitrary directions, as these are all
intrinsically linked concepts.  The fed must choose to influence one of these as
a target in order to achieve stability.  Typically, the Fed chooses either money
supply or interest rate as a target [1, p. 356].
</p>
In 2007, the Federal reserve, in the midst of the financial crisis, reduced the
federal funds rate to nearly 0 percent in an effort to increase fluidity of
funds between banks and allow for banks to quickly stabilize.  This also had the
effect of increasing risk and decreasing consumer trust in financial
institutions.  The funds rate was kept low for a long time, including after the
recession.  The Fed saw the limits of the power of its ability to influence the
interest rate during this recession, and exercised purchases of assets in order
to further reduce borrowing and outstanding debts and stabilize the insecure
economy.
<p>
<br/>
<br/>
<p>[1] Miller, Roger LeRoy. Economics Today: The Macro View. 16th ed. Boston, MA: Addison-Wesley, 2012.</p>
<p>[2] "The Great Recession Of 2007–09 - A Detailed Essay On An Important Event In The History Of The Federal Reserve". Federalreservehistory.Org, 2017, http://www.federalreservehistory.org/Events/DetailView/58.</p>
