<p>
There are generally two different styles of policymaking that are employed by
the government.  These styles are known as active policymaking and passive
policymaking, and generally behave the way you'd expect.  Active policymaking is
focused on reacting to business recessions and peaks with policies that will
intentionally stabilize the economy.  It is also known as <b>discretionary</b>
policymaking, because it is done as a reaction to existing situations.  Passive
policymaking is carried out as a manner of rule, tending to ignore recessions
and peaks, assuming that these will self-correct<sup>[1, p. 374]</sup>.
</p>
<p>
It may seem clear that active policymaking would be a clearly better idea, in
that it can help reduce unemployment that comes about as a result of
unemployment, or even eliminate it altogether, but there is some very active
debate on whether it is actually effective.  The economy isn't as malleable as
you may think, and in fact, most consumers and employers don't actually just act
in response to existing situations, but more intelligently, using the entire
experience and context of their situation, including how it has worked in the
past and what to expect from the future<sup>[1, p. 379]</sup>.  This means that
even good policy that should counteract a recession might in fact do nothing,
because citizens will react in anticipation of inflation, or may at the very
least predict the long-term effects of economic policy rather than their
short-term effects.  This is particularly important because of the possibly
quite long delay between an economic event and the enactment of policies that
may counteract them.  Producers, on the other hand, may also exhibit a delay in
reacting to economic change, because of the stickiness of prices, and the
relative costs of re-pricing.  This theory is known as new Keynesian
theory<sup>[1, p. 386]</sup>, and is still relatively controversial in the
economic
community.
</p>
<p>
An argument for what has come to be known as the <b>policy irrelevance
 proposition</b>, the idea that policy actions don't actually have any effects
on the economy, because they are frequently anticipated and the economy will
tend to balance GDP and unemployment toward the natural rate regardless of
policy, has been largely supported over time, and supports an argument for
passive policymaking<sup>[1, p. 383]</sup>.  The most recent notable instance of
policy irrelevance is the Great Recession.  The government took heavy bouts of
active policymaking attempting to adjust for the recession and lessen its
negative effects, but the economy still took an incredible amount of time to
start to return to normal.  Even now we are still experiencing its long-term
effects.  Additionally, evaluations of the actual effects of the active
policymaking estimate that the government's stimulus action provided no actual
impact on real GDP that wouldn't have naturally happened in the exact same time
span<sup>[1, p. 387]</sup>.  There are arguments as to what the government could
have better done to adjust for the recession, but there are also strong
arguments that the government should have done nothing beyond perhaps ensuring
that the banks in question did not collapse.  Many argue that the government did
much to contribute to the recession, and that the housing market bubble wouldn't
have taken place without government policies that allowed banks to make so many
risky investments<sup>[2]</sup>.  These arguments promote the idea that not only
did the government's expansionary policies not help soften the recession, but
that the policymaking had actually caused it in the first place, or at the very
least exacerbated it.
</p>
<p>
Another side is the argument that the government may not be able to make
policies to lessen a recession, but that policies can be made in order to help
prevent it<sup>[3]</sup>.  Without the massive deficit, or the runaway credit
drops, or the subprime lending, or the artificial inflation of homeowners, or
government interaction with the private sector causing risky lending, it's
possible that the crisis may not have happened, or at the worst may have been
significantly lessened, to the point that government intervention wouldn't have
become necessary.  In other words, government intervention may have only been
necessary to fix problems caused by the government intervention.
</p>
<p>
So what caused the problem and how could it have been fixed?  Too much
government intervention?  Too little?  As in most issues, the correct answer
probably lies somewhere in the middle.  The US government is so heavily
entrenched in the private sector at the moment that a complete pull-out into
non-interventionism would cause likely massive crashes in multiple industries,
and very likely stimulate an even bigger depression.  Continued government
intervention at its current scale is likely contributing to continued
destabilization of the economy that caused the Great Recession in the first
place.  It would very likely be most prudent for the government to perform a
more in-depth analysis as to the actual effects of the corrective activity taken
to counteract the recession.  The rising debt level does (or will) have a severe
effect on the citizens, and the stimulus acts being taken now to counteract
short economic situations are still being paid for by taxpayers, and will have
to be paid for for many decades in the future.  Perhaps the government should
take more action to prevent economic instability, rather than simply react to
it.  The causes of the recession were known of for years in advance of the
actual recession.
<br/>
<br/>
<p>[1] Miller, Roger LeRoy. Economics Today: The Macro View. 16th ed. Boston, MA: Addison-Wesley, 2012.</p>
<p>[2] Michael, Norbert. 2015. "The Financial Crisis Was Foreseeable And Preventable". <i>forbes.com</i>. <a href="https://www.forbes.com/sites/norbertmichel/2015/01/26/government-policies-caused-the-financial-crisis-and-made-the-recession-worse/">https://www.forbes.com/sites/norbertmichel/2015/01/26/government-policies-caused-the-financial-crisis-and-made-the-recession-worse/</a>.</p>
<p>[3] Frieden, Jeffry. 2011. "The Financial Crisis Was Foreseeable And Preventable". nytimes.com. <a href="https://www.nytimes.com/roomfordebate/2011/01/30/was-the-financial-crisis-avoidable/the-financial-crisis-was-foreseeable-and-preventable">https://www.nytimes.com/roomfordebate/2011/01/30/was-the-financial-crisis-avoidable/the-financial-crisis-was-foreseeable-and-preventable</a>.</p>
