<p>
Government Spending is a factor of GDP (recall that GDP is real consumption +
Investment + Government Spending + Net Exports <sup>[1, p. 169]</sup>),
therefore, an increase in Government Spending factors in as an increase in real
GDP.  At first, it may appear that real GDP may be increased in the long run by
an increase in government spending, but this is not the case.  In order for the
government to spend money, the government needs to have money.  Two obvious
sources of money for the government are taxes and borrowing
</p>
<p>
The effect of a raised tax rate is obvious.  At the federal level, taxes are
largely income taxes and also partially corporate taxes.  A raised income tax
rate will lower the take-home pay of citizens, and lower their spending on goods
and services.  These citizens will also save less (as they will have less to
save), giving less fluid money for loaning to businesses for investments.
Corporate taxes similarly limit investment potential of businesses, and also may
increase cost of production, raising the cost of products, and lowering the rate
of purchases.  At the state level, sales and service taxes may be raised, but
this will largely have the same effect, as it will decrease the real value of
the dollars, as the same amount of money may buy fewer goods and services.
Thus, an increased spending by the government does not necessarily increase GDP.
<sup>[1, p. 279]</sup>
</p>
<p>
The effect of government borrowing is less-obvious, but causes a similar effect.
If the government spends into a deficit (keeping taxes constant), it will tend
to "crowd out" private spending, being a much greater rate of borrowing of
private firms.  This causes a large rise in interest rates, similarly decreasing
business investments, as they can not as easily borrow the money needed to
invest in capital and research.  This will similarly stop individuals from
financing larger loans for long-term debts, such as car loans and mortgages
<sup>[1, p. 281]</sup>
</p>
<p>
Government spending and taxes both factor into what is known as "fiscal policy",
the governments fiscal plans, which are oriented in order to achieve a
particular goal for the nation's economy.  One very notable discretionary fiscal
policy action (meaning a deliberate, planned change) by the government was the
2008 bailout of the U.S. financial system, with the government spending $700
billion to bail out failed bank, through tax dollars.  <sup>[2]</sup>  This
bailout later ballooned up to over $10 trillion, which is still being dispersed.
This tax money factored into the already-standing recession caused by the bank
crisis in the first place.
</p>
<br/>
<br/>
<p>[1] Miller, Roger LeRoy. Economics Today: The Macro View. 16th ed. Boston, MA: Addison-Wesley, 2012.</p>
<p>[2] Emergency Economic Stabilization Act of 2008. Pub. L. 110-343. 112 Stat. 3765. 03 Oct 2008. <i>U.S. Government Publishing Office</i>. Web. 22 Mar. 2017.</p>
<p>[3] Collins, Mike. "The Big Bank Bailout." <i>Forbes</i>. Forbes Magazine, 14 July 2015. Web. 23 Mar. 2017. &lt;https://www.forbes.com/sites/mikecollins/2015/07/14/the-big-bank-bailout/#54b638da2d83&gt;. </p>
