<p>
I purchase many imported products on a regular (or at least semi-regular) basis.
The most obvious example, besides my German beers, is computer components.  When
I am buying a processor or a video card, I usually veer toward AMD, and they
have factories across 31 countries <sup>[2]</sup>.  I primarily choose them
because they have some of the best FOSS support, but also because they produce
the most cost-effective hardware in their class.  In this way, price is largely
a factor, but not necessarily due to comparison with domestic, as out of major
CPU and GPU companies with major consumer hardware support, there are only two
in each group (AMD and Intel for the former and AMD and NVidia for the latter),
and all three companies extensively use offshore production.
</p>
<p>
I have largely changed how I feel about offshore goods through this class, but
also through a history class I was taking.  I was more on the side of
protectionism and lessened imports prior to this class, as I was not aware of
the intrinsic dual nature of imports and exports.  The idea that curbing imports
also harms exports was a massive eye-opener <sup>[1, p. 713]</sup>.  Also
interesting, in Lynn Hunt's &quot;The Making of the West&quot;, was the
discussion of the negative effects of the old protectionist policy of
Mercantilism <sup>[3, p.  490]</sup>.  The discussion on the protectionist
policies of the German trade union, Der Zollverein, and the interesting
intermingling effects of the lack of tariffs between nations, and strong
protectionist tariffs of external countries.  Some Germans, such as John Prince
Smith, fought most of their lives for truly free trade <sup>[4]</sup>.
</p>
<p>
I do not think differently of most domestic vs foreign-made goods in general,
but standards of quality must be taken into account.  There has been a massive
surge of off-shoring of IT and programming jobs to India in particular, as a
result of the much lower prices of the services there.  Unfortunately, India's
standards of education for engineering are much lower than they are here, and
there is very little in terms of regulation of education in most areas.  As a
result, many Indian programming experts are people who may have never written
working code in their lives.  I've known very skilled Indian programmers who
emigrated from India to various other countries simply to escape from the stigma
of low-quality Indian programmers that have been pumped out by diploma-mills.
Because of this, many companies have had to spend a great deal of money fixing
the mostly non-functional code that they've already spent massive amounts of
money to have written in the first place.  This was my job for a long time, and
still is to some degree.  Many companies have found an interesting balance of
minimizing cost and maximizing quality by having code written by cheap Indian
programmers and then quickly fixed up by a local expert who would have been more
expensive to write it from scratch.  This does not by any means imply that
imports are bad, or even that companies shouldn't be off-shoring their
programming labor, but simply a statement that for non-physical goods, properly
gauging quality of work compared to cost of the labor can be very difficult, or
even impossible until after the work has been done.  A company very well might
not know that they have wasted money until all the work they have had done has
to be redone.
</p>
<br/>
<br/>
<p>[1] Miller, Roger LeRoy. Economics Today: The Macro View. 16th ed. Boston,
MA: Addison-Wesley, 2012.</p>
<p>[2] &quot;Our Locations&quot;. 2017. AMD.
https://www.amd.com/en-us/who-we-are/contact/locations.</p>
<p>[3] Lynn Hunt, Thomas R. Martin, Barbara H. Rosenwein, Bonnie G. Smith.
Making of the West, People and Cultures, third ed.(Boston: Bedford St Martin’s,
2009), 654.</p>
<p>[4]Henderson, W. O. 1950. &quot;Prince Smith and Free Trade in Germany.&quot;
The Economic History Review 2 (3): 295–302. issn: 00130117, 14680289.
http://www.jstor.org/stable/ 2590125.</p>
