<p>
Currencies have similar demand and supply curves to that of regular goods, the
major difference is that the supply and demand curves are still for goods and
services, and the relative currencies are linked to those, rather than directly
for currencies.  When one currency appreciates compared to another, that means
that the value of the appreciating currency is increasing relatively to the
other currency (the depreciating one).  This means that it takes more of the
depreciating currency to buy units of the appreciating currency.  This causes
changes in exports and imports, because when a currency appreciates in value, it
may be used to buy more of a foreign currency, and other foreign goods may
become relatively cheaper, which will increase demand for those goods.  In this
way, a currency appreciating causes the users of that currency to seek more
imports.  On the converse side, the depreciating currency may be used to buy
fewer units of the other currency, causing imports to be relatively more
expensive.  Users of a depreciating currency will seek to purchase fewer imports
due to this, but their own goods are relatively cheaper to other countries,
which causes an increase in exports <sup>[1, p. 735</sup>.
</p>
<p> Over the past couple years, the US Dollar has been particularly strong
compared against the value of gold, especially compared to the mid 2000s and the
Great Recession <sup>[2]</sup>.  This isn't as visible in a chart of Euros to
USD, where the Euro had a great appreciation compared to USD during 2014,
dropping to 1.05 EUR/USD from a previous high of 1.57 Eur/USD in 2008
<sup>[3]</sup>.
<br/>
<br/>
<p>[1] Miller, Roger LeRoy. Economics Today: The Macro View. 16th ed. Boston,
MA: Addison-Wesley, 2012.</p>
<p>[2] &quot;Gold Prices and U.S. Dollar Correlation - 10 Year Chart&quot;.
2017. macrotrends.
http://www.macrotrends.net/1335/dollar-vs-gold-comparison-last-ten-years.</p>
<p>[3] &quot;XE Currency Charts: EUR to USD&quot;.  2017. XE.
<a href="http://www.xe.com/currencycharts/?from=EUR&amp;to=USD&amp;view=10Y">http://www.xe.com/currencycharts/?from=EUR&amp;to=USD&amp;view=10Y.</a></p>
