<p>
The relationship between saving and consumption is straightforward.  Most people
are familiar with the idea of saving, and what it means to save money, and the
relation to the economic meaning is largely identical.  To most people, saving
is when you do not spend money, but keep it for later, rather.  In economics,
this is largely the same, but calculated with a specific mathematical equation.
In particular, disposable income is all the dollars that individuals receive
after all other processing.  More specifically, disposable income is equal to
GDP after all taxes. <sup><a href="#ref1">[1, p. 251]</a></sup>.  Consumption is
the amount of income that is spent, and saving is the amount of that income that
is not spent, and is saved for later.
</p>
<p>
Note that saving is a flow, and savings is a stock (the total amount saved up to
that point).  Saving is the amount of money committed to savings per unit time.
Tor those savvy to calculus, saving is the derivative of savings in respect to
time.  In other words, if s is savings, and t is time, saving is ds/dt.  In
other words, your savings account is your savings, and committing to this
account is saving; savings is a noun, and saving is a verb.
</p>
<p>
Also related is a concept of <b>average propensity to save</b>, which is the
rate of saving per unit income (saving/income).  This is expressed as
saving/income. <sup><a href="#ref1">[1, p. 255]</a></sup>  A related concept is
<b>marginal propensity to save</b>, which describes a change in saving divided
by the change in disposable income.  In other words, it is how change in one's
income changes the ratio of their savings.
</p>
<p>
As could be expected, tendency to save works largely similarly to the market
at large.  Expectation of future income raise may make a person save less
aggressively, as they may expect the future income to offset dipping into
savings now.  In the same way, expectation of lower future income will usually
cause a person to save far more aggressively to attempt to prepare for the
expected lower income.  Indeed, tendency to save is not only similar to the
market at large, but intrinsically linked to the market at large.  As has been
made clear in previous chapters, if somebody expects the prices of an object to
raise in the future, they will buy more of them now.  This is directly
represented as a present lower tendency to save.  If somebody expects the prices
of an object to drop in the future, they will buy fewer of them now, causing a
higher tendency to save, followed by a lower tendency when the price does drop
and they increase their purchase of the item.
</p>
<p>
The most obvious and by far the strongest influences on propensity to save are
property rights and stability of a currency.  If property rights are weak,
people will not save, because they will not trust that their savings may be
honored. <sup><a href="#ref1">[1, p. 203]</a></sup>  Stability of a currency is
a strong influence for the same reason.  If a currency's value fluctuates
strongly, the value of one's savings may be worth less than the final goods they
could have previously gotten for them.  If a savings account's interest rate
does not match inflation (such as with very unstable currencies), there is no
motivation to save, as not spending money immediately actually reduces the
buying power of the money.  A lack of trust in the currency itself will ensure
that a population is not motivated to save in that currency.
</p>
<p>
In these ways, average saving is a factor of confidence.  Though saving will
increase expecting an income drop, it will lower after the income drop.
Conversely, as savings decreases expecting a raise, it will increase after the
raise.  Likewise, expectations of price changes will change saving, but only in
the short term, and it will typically adjust about to compensate for the
changes.  Total average saving itself, however, is a factor of the confidence
that consumers have in general prosperity and stability.  If consumers are not
confident in their currency or the security of their savings, they will not
save. <sup><a href="#ref2">[2]</a></sup>
</p>
<br/>
<br/>
<p id="ref1">[1] Miller, Roger LeRoy. Economics Today: The Macro View. 16th ed. Boston, MA: Addison-Wesley, 2012.</p>
<p id="ref2">[2] McWhinney, James E. "Understanding The Consumer Confidence Index." <i>Investopedia</i>. Investopedia, 22 Sept. 2013. Web. 11 Mar. 2017. &lt;http://www.investopedia.com/articles/05/010604.asp&gt;.</p>
